<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_folder/index.css">
    <title>Main Page</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="active">Home</a>
            <a href="/viewproducts">View Products</a>
            <a href="/order">My Order</a>
        </nav>
    </header>


    <section class="sect1">
        <div class="welcome">
            <h2 class="greet">WELCOME <span class="to">to</span></h2>
            <h1 class="shop-name">GigaBlast PC</h1>
            <h3 class="qoutes">"Upgrade Your Game, Upgrade Your Life - Explore Our Premium PC Components."</h3>
        </div>
    </section>


</body>
</html>